@charset "UTF-8";

$breakpoint: (
  mobile: 0,
  tablet: 768,
  desktop: 1024,
  large: 1280
);
//get variable => map-get($map, key);

//dimension of the gutters in pixels
$gutter-space: 16;
$gutter-space-large: 24;

@mixin gridContainer() {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@mixin grid($cols, $sideCuts: true, $padding: 0 ($gutter-space / 2 + 0px)) {
  $maxCols: 12;
  $widthModifier: $maxCols / $cols;
  $width: (100% / $widthModifier);

  padding: $padding;
  @media screen and (min-width: (map-get($breakpoint, large) + 0px)) {
    padding: $padding;
  }
  width: $width;

  @if $sideCuts {
    &:nth-child(n) {
      padding: $padding;
      //responsive gutter material
      @media screen and (min-width: (map-get($breakpoint, large) + 0px)) {
        padding: 0 ($gutter-space-large / 2 + 0px);
      }
    }

    @if $widthModifier % 1 == 0 {
      &:nth-child(#{$widthModifier}n + 1) {
        padding-left: 0;
      }

      &:nth-child(#{$widthModifier}n) {
        padding-right: 0;
      }
    }
  }
}

  .row {
    @include gridContainer;
  }

  @for $i from 1 through 12 {
    .col-#{$i} {
      @include grid($i, $sideCuts: false, $padding: 0 ($gutter-space / 2 + 0px));
    }
  }